<!DOCTYPE html>
<html lang="en-GB">
<head>
  <meta charset="utf-8">
  <link href="bower_components/normalize-css/normalize.css" rel="stylesheet">
  <link href="css/flown.css" rel="stylesheet">
  <title>Flown</title>
</head>
<body>

  <div id="stage"></div>

  <!-- view templates -->
  <script type="text/template" id="homeView">
    <h1>Flown</h1>
    <ul>
      <li><a id="play">Play</a></li>
      <li><a id="levels">Levels</a></li>
    </ul>
  </script>

  <script type="text/template" id="levelsView">
    <h1>Flown</h1>
    <p><a id="back">Back</a></p>
    <ul>
      <li><a id="edit">Edit Levels</a></li>
      <li><a id="load">Load Levels</a></li>
    </ul>
  </script>

  <script type="text/template" id="levelPacksView">
    <h1>Level Packs</h1>
    <p><a id="back">Back</a></p>
    <% if (levelPacks.length > 0) { %>
      <ul>
        <% _.each(levelPacks, function(levelPack) { %>
          <h2><%= levelPack.get('title') %></h2>
          <p><%= levelPack.get('description') %></p>
          <p><%= packComplete %> / <%= levelPack.get('levelCount') %></p>
        <% }); %>
      <ul>
    <% } else { %>
      <p>No level packs found!</p>
    <% } %>
  </script>

 <!-- library dependencies -->
  <script src="bower_components/jquery/jquery.js"></script>
  <script src="bower_components/underscore/underscore.js"></script>
  <script src="bower_components/backbone/backbone.js"></script>

  <!-- main file -->
  <script src="js/Flown.js"></script>

  <!-- Backbone router -->
  <script src="js/FlownRouter.js"></script>

  <!-- Backbone collections -->
  <script src="js/collections/LevelsCollection.js"></script>
  <script src="js/collections/LevelPacksCollection.js"></script>

  <!-- Backbone models -->
  <script src="js/models/LevelModel.js"></script>
  <script src="js/models/LevelPackModel.js"></script>

  <!-- Backbone views -->
  <script src="js/views/Base.js"></script>
  <script src="js/views/HomeView.js"></script>
  <script src="js/views/LevelsView.js"></script>
  <script src="js/views/LevelPacksView.js"></script>

  <script>
    Flown.init();
  </script>
</body>
</html>

